@model IEnumerable<VetClinicWeb.Models.SpeciesViewModel>

@{
    ViewData["Title"] = "Species";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>List of species</h4>

@Html.Partial("SearchBoxPartialView")

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new { id = item.SpeciesId }) |
                @Html.ActionLink("Delete", "ShowDelete", new { id = item.SpeciesId })
            </td>
        </tr>
}
    </tbody>
</table>
