@model IEnumerable<VetClinicWeb.Models.EmployeeViewModel>

@{
    ViewData["Title"] = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>List of employees</h4>

<form asp-controller="Employee" asp-action="Index" method="get">
    <div class="container-md mt-3 mb-3" style="width:50%">
        <div class="row">
            <div class="col">
                @Html.DropDownList("Option", (IEnumerable<SelectListItem>) ViewBag.Options, "Choose", new {@class="form-control"})
            </div>
            <div class="col-8">
                <div class="input-group-append">
                    <input type="text" name="search" placeholder="Search" class="form-control"/>
                    <input type="submit" value="Search" class="btn btn-primary"/>
                </div>
            </div>
        </div>
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BonusSalary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PositionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacilityAddress)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BonusSalary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PositionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FacilityAddress)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new { id=item.EmployeeId }) |
                @Html.ActionLink("Details", "Details", new { id=item.EmployeeId }) |
                @Html.ActionLink("Delete", "ShowDelete", new { id=item.EmployeeId })
            </td>
        </tr>
}
    </tbody>
</table>
