@model IEnumerable<VetClinicWeb.Models.PrescriptionViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Prescription</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dosage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DrugName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dosage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DrugName)
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new {  })
            </td>
        </tr>
}
    </tbody>
</table>
