@model IEnumerable<VetClinicWeb.Models.DrugViewModel>

@{
    ViewData["Title"] = "Drug";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>List of drugs</h4>
@Html.Partial("SearchBoxPartialView")

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class = "table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Manufacturer)
            </td>
            <td>
                @Html.ActionLink("Update", "Update", new { id=item.DrugId}) |
                @Html.ActionLink("Delete", "Delete", new { id=item.DrugId })
            </td>
        </tr>
}
    </tbody>
</table>
