@model IEnumerable<VetClinicWeb.Models.OrganizationViewModel>

@{
    ViewData["Title"] = "Organization";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>List of organizations</h4>

@Html.Partial("SearchBoxPartialView")

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class = "table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td width="20%">
                @Html.ActionLink("Update", "Update", new { id=item.OrganizationId }) |
                @Html.ActionLink("Delete", "ShowDelete", new { id=item.OrganizationId })
            </td>
        </tr>
}
    </tbody>
</table>
